{{#if hasResults}}

    <h2>Letter {{startKey}}</h2>
    <ul>
    {{#each listOfBooks}}
       <li>
            <a href="/book/{{this.book_id}}">{{this.title}}</a>
        </li>
    {{/each}}
    </ul>

    {{#if prevOffset}}
        <form method="GET" action="/search">
            <input type="hidden" name="q" value="{{q}}">
            <input type="hidden" name="offset" value={{prevOffset}}>
            <button type="submit">Previous</button>
        </form>
    {{/if}}

    {{#if noMoreNext}}
        <form method="GET" action="/search">
            <input type="hidden" name="q" value="{{q}}">
            <input type="hidden" name="offset" value={{nextOffset}}>
            <button type="submit">Next</button>
        </form>
    {{/if}}

{{else}}
    <h2>Sorry, there are no books available starting with the letter {{startKey}}</h2>
{{/if}}